<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans    
          http://www.springframework.org/schema/beans/spring-beans-3.0.xsd    
          http://www.springframework.org/schema/context    
          http://www.springframework.org/schema/context/spring-context-3.0.xsd    
          http://www.springframework.org/schema/mvc        
          http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd    
          http://www.springframework.org/schema/util     
          http://www.springframework.org/schema/util/spring-util-3.0.xsd">   	
	<context:component-scan base-package="com.klcarwl.controller"/>
	 <mvc:interceptors>  
        <!-- 多个拦截器,顺序执行 -->  
        <mvc:interceptor>
           <mvc:mapping path="/**" />
           <bean class="com.klcarwl.interceptor.UserOnLoadInterceptor"></bean>  
        </mvc:interceptor>  
    </mvc:interceptors>	
    
    <mvc:resources mapping="/jsp/**" location="/jsp/" />
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">		
		<property name="prefix" value="/jsp/"/>
		<property name="suffix" value=".jsp"/>
	</bean>
	<bean id="mappingJacksonHttpMessageConverter"  
        class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter" /> 
    <bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver" p:defaultEncoding="utf-8"/>
    <!-- 自动转换器 -->
	<mvc:annotation-driven conversion-service="conversionService" />
	<!-- <mvc:default-servlet-handler/> -->
	<bean id="conversionService"
		class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
		<property name="converters">
			<list>
				<bean class="com.klcarwl.domain.StringToDateConverter" />
			</list>
		</property>
	</bean>	
	<context:annotation-config/>
</beans>